.primaryBg {
    background-color: #207CA8;
}
.secondaryBg {
    background-color: #08415C;
}
.tertiaryBg {
    background-color: #29353B;
}
.primaryFont {
    color: #207CA8;
}
.secondaryFont {
    color: #08415C;
}
.tertiaryFont {
    color: #29353B;
}