.primaryBg {
    background-color: #207CA8;
}
.secondaryBg {
    background-color: #08415C;
}
.tertiaryBg {
    background-color: #29353B;
}
.primaryFont {
    color: #207CA8;
}
.secondaryFont {
    color: #08415C;
}
.tertiaryFont {
    color: #29353B;
}

.trapezoidLeft {
  position: absolute;
  width: 20px;
  height: 150px;
  top: 90px;
  transform: perspective(10px) rotateY(8deg);
  right: 320px;
  display: inline-block;
}

.trapezoidRight {
  position: absolute;
  width: 20px;
  height: 150px;
  top: 90px;
  transform: perspective(10px) rotateY(-8deg);
  display: inline-block;
  left: 320px;
}
